<div class="row justify-content-center mt-5">
  <div class="col-md-8 mt-5">
    <h3>Welcome to my first bloggish Angular project!</h3>
    <br />
    <h4>What you can do</h4>
    <br />
    <h5>Create a new Blog</h5>
    <ul>
      <li>Name your blog</li>
      <li>Create a heading</li>
      <li>Create your first post</li>
    </ul>
    <h5>Post</h5>
    <ul>
      <li>Create a new post on your blog</li>
      <li>Edit all posts</li>
    </ul>
    <h5>Comment</h5>
    <ul>
      <li>Write a comment to a specific post</li>
      <li>Edit all comments</li>
    </ul>
    <h5>Change blog</h5>
    <ul>
      <li>In the nav you can choose what blog to read</li>
    </ul>
  </div>
</div>
