<div class="row justify-content-center mt-5">
  <div class="col-md-8 mt-5">
    <form #f="ngForm" (ngSubmit)="onNewPost(f.value)">
      <div class="form-group">
        <div class="form-group">
          <label for="name">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            ngModel
            name="title"
            placeholder="..."
          />
        </div>
        <div class="form-group">
          <label for="blogpost">Blogpost</label>
          <textarea
            type="text"
            class="form-control"
            id="content"
            ngModel
            name="content"
            rows="4"
          ></textarea>
        </div>
      </div>
      <button class="btn btn-primary float-right" type="submit">Post</button>
    </form>
  </div>
</div>
<!-- <ul *ngFor="let blog of blogs">
  <li>{{ blog.title }}</li>
</ul> -->
