<div class="row justify-content-center mt-5">
  <div class="col-md-8 mt-5">
    <form #postForm="ngForm">
      <div class="form-group">
        <div class="form-group">
          <label for="name">Heading</label>
          <input
            type="text"
            class="form-control"
            id="heading"
            placeholder="..."
          />
        </div>
        <div class="form-group">
          <label for="blogpost">Blogpost</label>
          <textarea class="form-control" id="blogpost" rows="4"></textarea>
        </div>
      </div>
      <button class="btn btn-primary float-right" type="submit">Post</button>
    </form>
  </div>
</div>
