<div class="row mt-5">
  <div class="col-md-6 mt-5">
    <form #postForm="ngForm" (ngSubmit)="onNewBlog(postForm.value)">
      <div class="form-group">
        <label for="title "
          ><span class="text-secondary"
            >Name your blog and start Blogging!
          </span>
        </label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          ngModel
          name="title"
          placeholder="..."
        />
      </div>
      <button class="btn btn-secondary btn-sm float-right" type="submit">
        Create
      </button>
    </form>
  </div>
</div>
