<div class="row mt-5">
  <div class="col-md-5">
    <form #f="ngForm" (ngSubmit)="onUpdateBlog(f.value)">
      <div class="form-group" *ngIf="blog">
        <div class="form-group">
          <label for="title">{{ blog.title }}</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            ngModel
            name="title"
            placeholder="..."
            [(ngModel)]="blog.title"
          />
        </div>
      </div>
      <button class="btn btn-light btn-sm float-right" (click)="back()">
        Cancel
      </button>
      <button
        class="btn btn-light btn-sm float-right mr-2"
        type="submit"
        (click)="back()"
      >
        Update
      </button>
    </form>
  </div>
</div>
