<div class="row justify-content-center bg-light">
  <div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="onNewComment(f.value)" class="mt-2">
      <div class="form-group">
        <textarea
          type="text"
          class="form-control"
          id="content"
          ngModel
          name="content"
          rows="3"
        ></textarea>
      </div>
      <div class="mb-2 text-right">
        <button
          class="btn btn-outline-secondary btn-sm shadow-none"
          type="submit"
        >
          Comment
        </button>
      </div>
    </form>
  </div>
</div>
