/* You can add global styles to this file, and also import other style files */
span {
  cursor: pointer;
}

a {
  color: black;
  font-size: 0.8rem;
}

a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}
