<div class="row justify-content-center mr-5">
  <div class="col-md-8 mt-5">
    <div *ngFor="let blog of blogs">
      <h1 *ngIf="blog.id == blogId">{{ blog.title }}</h1>
    </div>
    <button
      *ngIf="blog"
      class="btn btn-secondary float-right mt-4"
      routerLink="/blog/{{ blogId }}/{{ blog.title }}/edit/{{ blogId }}"
    >
      Edit blogname
    </button>
    <button
      class="btn btn-danger float-right mt-4 mr-1"
      (click)="onDeleteBlog()"
    >
      Delete blog
    </button>
    <button
      class="btn btn-primary float-right mt-4 mr-1"
      (click)="onToggleNewPost()"
    >
      {{ buttonname }}
    </button>
  </div>
</div>

<app-post [showpost]="showpost"></app-post>
