<div class="row justify-content-center mt-5">
  <div class="col-md-8 mt-5">
    <div *ngFor="let blog of blogs">
      <h1 *ngIf="blog.id == blogId">{{ blog.title }}</h1>
    </div>
    <button class="btn btn-danger float-right" (click)="onDeleteBlog()">
      Delete blog
    </button>
    <button
      class="btn btn-primary float-right"
      style="margin-right: 5px"
      (click)="onToggleNewPost()"
    >
      {{ buttonname }}
    </button>
  </div>
</div>
<app-post [showpost]="showpost"></app-post>
